<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	
	<body>
		<h1>Welcome to MakeYourMarket, <%= @user.firstname %>!</h1>
		<p>
		  Thank you for signing up to MakeYourMarket,
		  your username is: <%= @user.username %>.<br>
		</p>
		<p>
		  Please confirm your email by following this link: <%= @url %>.
		</p>
		<p>Thanks for joining and may the markets be with you</p>
	</body>
</html>