<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1><%= "#{@user.firstname} #{@user.secondname}" %> <small><%= "#{@user.username}" %></small> </h2>
        </div>
    </div>

    <div class="row">
        <%= render 'form' %>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <%= link_to "Admin", admin_path %>
        </div>
    </div>
    

</div>