<h2><%= "#{@user.firstname} #{@user.secondname}" %></h2>
<br>
<br>

<%= render 'form' %>

<%= link_to "Your markets", markets_path(joined: true), class: "btn btn-info" %>
<br>
<br>
<%= link_to "Your account", account_user_path(@user), class: "btn btn-primary" %>

