// http://paletton.com/#uid=70A0u0kel++24OnW1B5jX+Y00jr

$color-primary-0: #FFC78D;	// Main Primary color */
$color-primary-1: #FFF7EF;
$color-primary-2: #FF8300;
$color-primary-3: #FFB260;
$color-primary-4: #9B9B9B;

$color-secondary-1-0: #FFDD8D;	// Main Secondary color (1) */
$color-secondary-1-1: #FFFAEF;
$color-secondary-1-2: #FFB400;
$color-secondary-1-3: #FFD060;
$color-secondary-1-4: #9B9B9B;

$color-secondary-2-0: #9BADFF;	// Main Secondary color (2) */
$color-secondary-2-1: #D2D5DF;
$color-secondary-2-2: #0425BD;
$color-secondary-2-3: #748CFF;
$color-secondary-2-4: #6A6A6A;

$color-complement-0: #91E4FF;	// Main Complement color */
$color-complement-1: #CCD6D9;
$color-complement-2: #0186B2;
$color-complement-3: #66D9FF;
$color-complement-4: #616161;