/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

input, textarea, select, .uneditable-input{
  border: 1px solid #D2D2D2;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
}

input_checkbox input {
  width: auto !important;
}

input {
  height: auto !important;
}

.no-indent{
	padding: 0;
}

.no-bullets {
	list-style-type: none;	
}

.no-return {
    display:inline;
}

.get-over {
	float: left;
}

.lb-sm {
  font-size: 12px;
}

.lb-md {
  font-size: 16px;
}

.lb-lg {
  font-size: 20px;
}