// As hex codes */
$mym-primary-0: #6B1095; // Main Primary color */
$mym-primary-1: #934EB3;
$mym-primary-2: #7D2EA2;
$mym-primary-3: #540877;
$mym-primary-4: #40035D;

$mym-complement-0: #DADF0F; // Main Complement color */
$mym-complement-1: #FAFE67;
$mym-complement-2: #EDF23C;
$mym-complement-3: #AEB203;
$mym-complement-4: #878B00;
