// Place all the styles related to the market controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.market-description{
	font-size: 1.4em;
}

.outcome-well{
	overflow: hidden;
}

.right-bar{
	.panel-heading {
    	cursor: pointer;
	}	
}
