// Place all the styles related to the market controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.market-description{
	font-size: 1.4em;
}

.outcome-well{

	.button-container{
	  overflow-x: auto;
	  white-space: nowrap;		
	}

	.bet-button{
	  display: inline-block;
	  float: none !important;		
	}

}

.right-bar{
	.panel-heading {
    	cursor: pointer;
	}	

	#chat_text_area{
		width: 80%;
	}
}

